<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SellerLoginServlet</servlet-name>
        <servlet-class>com.myagroplace.servlets.SellerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerLogoutServlet</servlet-name>
        <servlet-class>com.myagroplace.servlets.SellerLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductOperationServlet</servlet-name>
        <servlet-class>com.myagroplace.servlets.ProductOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.myagroplace.servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractServlet</servlet-name>
        <servlet-class>com.myagroplace.servlets.ContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SellerLoginServlet</servlet-name>
        <url-pattern>/SellerLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerLogoutServlet</servlet-name>
        <url-pattern>/SellerLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductOperationServlet</servlet-name>
        <url-pattern>/ProductOperationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractServlet</servlet-name>
        <url-pattern>/ContractServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
